@charset "utf-8";
/* 영어 Montserrat  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 한글 에스코어드림 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('font/SCDream1.otf');
@import url('font/SCDream2.otf');
@import url('font/SCDream3.otf');
@import url('font/SCDream4.otf');
@import url('font/SCDream5.otf');
@import url('font/SCDream6.otf');
@import url('font/SCDream7.otf');
@import url('font/SCDream8.otf');
@import url('font/SCDream9.otf');
