@charset "utf-8";
@import url("style.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
    text-decoration: none;

}
a{
  text-decoration: none;
}
body {
    background-color: #FFF8E9;
  }
html{
  width: 100%;
  min-width: 320px;
}
  .t_login-container {
    position: relative;
    max-width: 540px;
    min-width: 320px;
    width: 100vw;
    height: 750px;
    margin: 30px auto;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    /* padding-left: 55px;
    padding-right: 55px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #t_login-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    min-width: 240px;
  }
.t_login-logo{
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
}
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 430px;
    min-width: 240px;
    height: 60px;
    font-size: 16px;
  }
  ul{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
  }
.t_login-check{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #3a3c3b;
    font-size: 14px;
}
  #t_login-ck{
    transform: scale(1.2);
    accent-color: #589856;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  button {
    padding: 10px;
    background-color: #589856;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    max-width: 430px;
    min-width: 230px;
    height: 60px;
    font-size: 22px;
    font-weight: 700;
  }
  button:hover {
    background-color: #447242;
  } 
  .t_login-hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #3a3c3b;
	font-size: 12px;
	margin-top: 40px;
}
.t_login-hr-sect::before,
.t_login-hr-sect::after {
	content: "";
	flex-grow: 1;
	background: #3a3c3b;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}
  p{
    text-align: center;
    font-size: 16px;
    color: #3a3c3b;
   
  }
  .t_login-li-txt{
    color: #589856;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
  }
  .t_login-li-txt a {
    color: #599B56;
    font-weight: 600;
    cursor: pointer;
  }
  
  .t_login-li-sns{
    cursor: pointer;
  }
