@charset "utf-8";
@media screen and (max-width: 1200px) {
  .header {
    padding: 0 5%;
    height: 70px;
  }
  /* 인스타그램 */
  .s_instagram > .inner {
    padding: 0 5%;
  }
}
@media screen and (max-width: 900px) {
  nav {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  /* 헤더 어떻게 할 건지 */
  /* 전체 */
  html {
    font-size: 8px;
  }
  /* 프로그램 */
  .s_program > .sw-program {
    min-width: 250px;
  }
}
