@charset "utf-8";
@media screen and (max-width: 1500px) {
  nav {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  /* 헤더 */
  .header {
    padding: 0 2%;
    height: 70px;
  }
  /* 배너 */
  .s_banner_ch3_tit {
    font-size: 3rem;
  }
  /* 인스타그램 */
  .s_instagram > .inner {
    padding: 0 5%;
  }
  .s_instagram_hide {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  /* s_mentor */
  .s_Mentor_area {
    gap: 1%;
  }
  .s_Mentor .inner {
    padding: 10% 5%;
  }
}

@media screen and (max-width: 900px) {
  nav {
    width: 60%;
  }
  /* 배너 */
  .s_banner_ch3 .inner {
    flex-direction: column;
    gap: 10px;
  }
  /* 인스타그램 */
  .s_instagram_img_wrap {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .s_brandAbout_ch3_tit {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* 전체 */
  html {
    font-size: 9px;
  }
  /* 헤더 */
  nav {
    display: none;
  }
  .xi-search {
    display: none;
  }
  .mbt {
    display: block;
  }
  .top-menu .top-menu-icons > a {
    margin-right: 55px;
  }
  .hide {
    flex-direction: column;
  }
  .nav-mb-gnb {
    align-items: flex-start;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-mb-gnb li:hover > a {
    color: var(--side-color);
  }
  /* 브랜드 소개 */
  .s_brandAbout_logodes .inner {
    display: flex;
    flex-direction: column;
  }
  .s_brandAbout_right {
    z-index: 1;
    max-width: 200px;
  }
  /* 배너 */
  .s_banner_ch3 {
    margin: 50px auto;
  }
  /* 프로그램 */
  .s_program > .sw-program {
    min-width: 250px;
  }
  .s_program_des {
    padding: 2.5rem 2rem;
  }
  .s_program_tit {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  /* title 공통 */
  .title {
    text-align: center;
  }
  /* 비주얼 */
  .s_vistual > .sw-vistual > .swiper-wrapper > .swiper-slide img {
    display: none;
  }
  .s_vistual > .sw-vistual > .swiper-wrapper > .swiper-slide a .mainannerM {
    display: block;
  }
  /* 브랜드 소개 */
  .s_banner_ch3_img {
    max-width: 250px;
    width: 250px;
  }
  .s_banner_ch3_tit {
    font-size: 2rem;
  }
  /* 프로그램 */
  .title-area {
    flex-direction: column;
    padding-top: 100px;
  }
  .view-more {
    width: 100px;
    height: 40px;
    border-radius: 10px;
  }
  /* Mentor */
  .s_Mentor_area {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .s_Mentor_des {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  /* 브랜드 소개 */
  .s_brandAbout {
    padding: 70px 0;
  }
  .s_brandAbout_right img {
    max-width: 150px;
  }
  .s_brandAbout_left_tit {
    font-size: 3rem;
  }
  .s_brandAbout_left_txt {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 320px) {
  /* 프로그램 */
  /* .s_program_txt {
    line-height: 1.2;
    overflow: hidden;
    height: 70px;
    text-wrap: wrap;
    text-overflow: ellipsis;
  } */
  .s_program_bg_img img {
    min-height: 200px;
  }
}
