@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
    text-decoration: none;

}
a{
  text-decoration: none;
}
body {
    background-color: #FFF8E9;
  }
  label {
    display: block;
  }