@charset "utf-8";
@import url("style.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
body {
  background-color: #fff8e9;
}
html {
  width: 100%;
  min-width: 320px;
}
.t_signup-container {
  position: relative;
  max-width: 540px;
  min-width: 320px;
  width: 100vw;
  height: 960px;
  margin: 30px auto;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  /* padding-left: 55px;
    padding-right: 55px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#t_signup-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 430px;
  min-width: 240px;
}
.t_signup-h1 {
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
}
.t_signup-ul,
.t_signup-li {
  width: 100%;
  max-width: 430px;
  min-width: 240px;
  margin-top: 20px;
}
.t_signup-li:first-child {
  margin-top: 0;
}
.t_signup-ul p {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box {
  width: 100%;
  height: 30px;
  max-width: 430px;
  min-width: 240px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}
.t_signup-code {
  display: flex;
  flex-direction: column;
}
.t_signup-bt {
  width: 90px;
  height: 25px;
  margin-top: 10px;
  border-radius: 20px;
  border: 0;
  background-color: #d9d9d9;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.gender {
  display: inline-block;
  width: 50px;
  accent-color: #589856;
  font-size: 12px;
  width: 100px;
}
.gender input{
  margin-right: 10px;
}
.agree-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 12px;
}
.agree-all {
  margin-right: 10px;
  accent-color: #589856;
}
.agree {
  margin-left: 10px;
  margin-right: 10px;
  accent-color: #589856;
  
}
.t_submit-bt {
  padding: 10px;
  background-color: #589856;
  
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  max-width: 430px;
  min-width: 230px;
  height: 60px;
  font-size: 22px;
  font-weight: 700;
}
.t_submit-bt a{
  color: #fff;
}
