@charset "utf-8";
@import url(soon.css);
@import url(jiwon.css);
@import url(jiwon-res.css);
@import url(taehun.css);
@import url(font.css);


a {color: #3a3c3b;text-decoration: none;}
img {border: 0;vertical-align: middle;}
html {font-size: 10px;}
html.active {overflow: hidden;}
body {
  font-family: 'SUITE-Regular', "Montserrat", sans-serif;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 400;
  color : var(--font-color);
  word-break: keep-all;
}
/* 전체 레이아웃 ********************************************** *********************************************/
.wrap {
  position: relative;
  display: block;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}
/* 공통 컬러*/
:root {
  --main-color:  #FFBE98;
  --side-color: #589856;
  --bg-color: #FFF8E9;
  --font-color: #3A3C3B;
  --bg-color-ivory: #fffcf6;
  --main-ko-font: 'SUITE-Regular';
  --main-en-font: "Montserrat";
  --side-ko-font: "UhBeeSe_hyun";

  /* 네비 */
  --primary: #24ce8f;
  --background: black;
  --nav-background:white;
  --nav-item-bg-hover: #79797920;
  --navbar-height: 70px;
  --text-gray: #252525;
  --text-white: white;
}
/* 타이틀 */
.title-area {
  font-family:  "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 50px;
}
.title {
  font-family:  "Montserrat";
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.title2 {
  font-family: 'S-CoreDream-3Light';
  font-size: 1.8rem;
  line-height: 4;
  letter-spacing: 0.1rem;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 버튼 */
/* <div class="btn btn--white">view more</div> */
.s_btn {
  font-family:  "Montserrat";
  width: 130px;
  padding: 10px;
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: 0.4s;
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.s_btn:hover {
  color: #fff;
  background-color: var(--main-color);
}
.s_btn.s_btn--reverse {
  color: #fff;
  background-color: transparent;
}
.s_btn.s_btn--reverse:hover {
  background-color: transparent;
  color: var(--main-color);
}
.s_btn.s_btn--green {
  color: var(--side-color);
  background-color: transparent;
  border: 2px solid var(--side-color);
}
.s_btn.s_btn--green:hover {
  background-color: var(--side-color);
  color: #fff;
}
/* 공통 끝 ********************************************** *********************************************/
/* 상단 띠 */
.topBanner {
  width: 100%;
  height: 30px;
  background-color: var(--side-color)
} 
.topBanner:hover {
  background-color:  rgba(88, 152, 86, 0.7);
}
.topBanner .tit {
  cursor: pointer;
  display: block;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.3px;
}
/* 헤더 시작*********************************************** *********************************************/
/*상단 */
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1px;

  width: 100%;
  height: 70px;
  padding: 0 60px;
  background-color: rgba(255, 255 , 255, .7);
  backdrop-filter : blur(20px);
  /* border-bottom : 1px solid #d2d2d2; */
  z-index: 9;
  transition: all 0.5s;
}
.header > .top-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--side-color);
}

/* 로고 */
.top-menu-logo{
  display: flex;
}
.logo {
  display: block;
  padding: 8px 12px;
  width: 150px;
}
.logo img {
  width: 100%;
}
nav {
  font-family:  "Montserrat";
  position: relative;
  display: flex;
  width: 40%;
}
nav .nav__item a{
  color: var(--side-color);
}
nav .nav__item {
  color: var(--side-color);
  font-size: 2rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 5;
  min-width: 25%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding: 0 1rem;
}

.nav__item__dropdown {
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  top: 62px;
}
.nav__item__dropdown > div {
  transform: translate(0, -100%);
  transition: all 0.5s 0.1s;
  position: relative;
}
.nav__item__dropdown a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: var(--side-color);
  background-color: rgba(255, 255 , 255, .7);
  backdrop-filter : blur(20px);
}
.nav__item__dropdown a:hover {
  color: #fff;
  background: var(--side-color);
}
.underline {
  height: 2px;
  background: var(--side-color);
  position: absolute;
  bottom: 0;
  width: 25%;
  z-index: 2;
  pointer-events: none;
  transition: 0.35s;
}
nav .nav__item:hover > .nav__item__dropdown > div {
  transform: translate(0);
}
nav .nav__item:nth-child(1):hover ~ .underline {
  transform: translate(0, 0);
}
nav .nav__item:nth-child(2):hover ~ .underline {
  transform: translate(100%, 0);
}
nav .nav__item:nth-child(3):hover ~ .underline {
  transform: translate(200%, 0);
}
nav .nav__item:nth-child(4):hover ~ .underline {
  transform: translate(300%, 0);
}
/* 메뉴 아이콘 */
.top-menu-icons {
  display: flex;
}
.top-menu .top-menu-icons > a {
  color: var(--side-color);
  padding: 8px 12px;
  font-size: 3rem;
}
.top-menu .top-menu-icons > a:hover {
  /* background-color: var(--side-color); */
  /* color: #ffff; */
  border-radius: 5px;
}
/* 모바일 메뉴 햄버거 */
.mbt {
  display: block;
  width: 25px;
  height: 15px;
  margin: auto;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  border: 0;
  z-index: 999;
  cursor: pointer;
}
.mbt span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--font-color);
}
/* 햄버거 눌렀을 때 색상 바뀜 */
.mbt {
  display: none;
  /* position: absolute;
  top: 0;
  bottom: 0; */
  margin: auto;
  right: 30px;
  width: 28px;
  height: 20px;
  background-color: transparent;
  border: 0;
  z-index: 999;
  cursor: pointer;
  padding: 8p 12px;
}
.mbt span {
  /* position: absolute;
  left: 0;
  top: 0; */
  display: block;
  width: 100%;
  height: 2px;
  background-color:var(--side-color);
}
/* 엑스 바꿔주기 */
.mbt span:nth-child(1) {
  top: 0;
  transform-origin: 0 50%;
  transition: all 0.3s;
}
.mbt.ani span:nth-child(1) {
  transform: rotate(45deg);
}
.mbt span:nth-child(2) {
  top: 50%;
}
.mbt.ani span:nth-child(2) {
  opacity: 0;
}
.mbt span:nth-child(3) {
  top: 100%;
  transform-origin: 0 50%;
  transition: all 0.3s;
}
.mbt.ani span:nth-child(3) {
  transform: rotate(-45deg);
}
/* 모바일 메뉴 리스트 */
.nav-mb {
  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  background-color:var(--bg-color);
  opacity: 1;
  transition: all 0.3s;
  z-index: 99;
}
.nav-mb.active {
  left: 0%;
  opacity: 1;
}
.nav-mb-gnb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  font-family: var(--main-en-font)
}

.nav-mb-gnb li {
  line-height: 60px;
  align-items: center;
  gap: 10px;
}
.nav-mb-gnb li::after{
  content: "";
  width: 100%;
  height: 1px;
  border: solid 1px solid;
  /* background-color: pink; */
}

/* 화살표  */
.material-symbols-outlined {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
  font-size: 2rem;
  margin-left: 1rem;
}
.material-symbols-outlined.active {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}
.nav-mb-gnb li a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
}
.menu > a > img {
  margin-left: 10px;
}
.menu .hide {
  display: none;
}
.menu .hide li a {
  cursor: pointer;
  display: block;
  margin-left: 5px;
  font-size: 18px;
  font-weight: lighter;
  height: 50px;
  border: none;
  text-align: left;
}
.menu .hide li:last-child a {
  margin-bottom: 20px;
}
.menu > .hide > li:hover a {
  font-weight: bold;
}
.overlay {
  background-color:var(--bg-color);
  color: #fffcf6;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: all 0.3s;
  display: none;
}
.overlay.active {
  display: block;
  left: 0%;
  opacity: 1;
}

/* 헤더 끝끝*********************************************** *********************************************/
/* 풋터 시작 ********************************************** *********************************************/
footer {
  font-size: 1.5rem;
  width: 100%;
  height: 300px; 
  color: rgba(255, 255 , 255, .7);
  background-color: var(--side-color);
}
footer > .inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1.5rem;
}
footer > .inner > div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
footer > .inner > div > a {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
}
footer > .inner > div > a:hover {
font-weight: bold;
}
footer > .inner > .socials > a:hover img{
  scale: 1.2;
}
.copyright {
  font-family: var(--main-en-font);
}
/* 풋터 끝 ********************************************** *********************************************/